/* Specifying the dimensions of the accordion */
#accordion {
    padding-top: 1.5%;
    width: 70%;
    min-width: 250px;
    left:50%;
    transform: translate(-50%);
    position:relative;
}

/* Adjusting width of accordion depending on screen size */
@media (max-width: 1200px) {
    #accordion {
        width: 85%;
    }
}

@media (max-width: 750px) {
    #accordion {
        width: 97.5%;
    }
}

/* Producing the gap between the accordion items */
.gap {
    padding-top: 2.5%;
}

/* Removing padding to change the styling on the page */
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* Specifying styles for specific content on account.php */
.accountInfo {
    padding-top: 2px;
    width: 50%;
    min-width: 250px;
}

.changePsw {
    padding-top: 2px;
    width: 50%;
    min-width: 250px;
}

.createAcc {
    padding-top: 2px;
    width: 50%;
    min-width: 250px;
}

/* Changing the styling of the hr tag */
.formHR {
    margin-bottom: 25px;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, grey)); 
}

/* Editing the form field background colour */
.form-control {
    background-color: #f7f7f7;
}

/* Editing the form field background colour when it is focused - i.e. when the field is clicked, the background colour changes to the one specified here*/
.form-control:focus {
    background-color: #ddd;
}

/* Specifying style for create account accordion content on account.php */
#submitAcc { 
    width: 50%;
    min-width: 175px;
    cursor: pointer;
    opacity: 0.9;
    border: none;
    position:relative;
    left:50%;
    transform: translate(-50%, 0%);
}

/* Changing styling of the buttons when hovered over */
button:hover {
    opacity: 1;
}

#crtAcc{
    padding-left: 15px;
    padding-right: 15px;
}

/* Changing the style of the specific button on account.php */
#submitButton { 
    width: 50%;
    min-width: 175px;
    cursor: pointer;
    opacity: 0.9;
    border: none;
    position:relative;
    left:50%;
    transform: translate(-50%, 15%);
}

#submitPsw { 
    width: 50%;
    min-width: 175px;
    cursor: pointer;
    opacity: 0.9;
    border: none;
    position:relative;
    left:50%;
    transform: translate(-50%, 15%);
}

/* Specifying the height that specific accordions can go to on the screen */
#collapseDelete {
    max-height: 500px;
    overflow-y: scroll;
}

#collapseStudents {
    max-height: 500px;
    overflow-y: scroll;
}

#collapseCompleted {
    max-height: 500px;
    overflow-y: scroll;
}

#collapseResponses {
    max-height: 500px;
    overflow-y: scroll;
}

/* Specifying the dimensions of buttons inside the accordion (completed requests) */
#reset {
    display: inline-block;
    width:100%;
}

#tab2CSV {
    display: inline-block;
    width:100%;
}

/* Specifying different styles for when the screen is either that of the max-width defined or smaller */
@media (max-width: 450px) {
    #reset {
        display:inline-block;
        width:75%;
    }
    #tab2CSV {
        display:inline-block;
        width:75%;
    }
}

#collapseRoD {
    max-height: 500px;
    overflow-y: scroll;
}