/* Specifying the style of the login box on login.php */
.login {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 45%;
    height: 40%;
    transform: translate(-50%, -50%);
}

/* Specifying the style of the buttons on login.php */
.bttn {
    width: 50%;
    cursor: pointer;
    opacity: 0.9;
    position:relative;
    left:25%;
}

/* Specifying the style of success buttons on login.php */
.btn-success {
    background-color: white;
    border-color: green;
    color: green;
    white-space: normal;
    word-wrap: break-word;
}

/* Specifying the style of info buttons on login.php */
.btn-info {
    top: 5px;
    background-color: white;
    border-color: #17a2b8;
    color: #17a2b8;
    white-space: normal;
    word-wrap: break-word;
}

/* styling and positioning the 'a' tags fon the login page. (i.e. the Student and Demonstrator options - done to choose what part of the tool to login into)*/
.student {
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
    white-space: normal;
    word-wrap: break-word;
}

.demonstrator {
    float: right;
    width: 50%;
    text-align: center;
    position: relative;
    white-space: normal;
    word-wrap: break-word;
}

/* Specifying specific properties of all 'a' tags. I.e. when normal, when hovered over, when active, etc. */
a {
    color: grey;
}

a:link {
    text-decoration:  none;
}

a:visited {
    text-decoration:  none;
}
a:hover {
    text-decoration:  none;
    color: green;
}

a:active {
    color: green;
    text-decoration:  none;
}

.active{
    color: green;
    text-decoration:  none;
    font-size: 20px;
}

/* Specyfing widths and other bits of content when the page is loaded up on smaller devices, etc. */
@media (max-width: 1200px) {
    .login {
        width: 55%;
    }
}

@media (max-width: 1000px) {
    .login {
        width: 75%;
    }

    .bttn {
        width: 65%;
        left: 17.5%;
    }
}

@media (max-width: 400px) {
    .login {
        width: 100%;
    }

    .bttn {
        width: 80%;
        left: 10%;
    }
}