.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.layout {
    width: 725px;
    height: 650px;
    left: 50%;
    transform: translate(-50%);
    position:  relative;
    border: 1px solid;
    display: block;
    overflow-x: auto;
    background-image: url('../roomlayout.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
}

.desk { /* creating the table - in this case it is circular */
    position: absolute;
    width: 100px;
    height: 100px;
}

#tableA {
    margin-left: 312px;
    margin-top: 412px;
    position: absolute;
}

#tableB {
    margin-left: 540px;
    margin-top: 410px;
    position: absolute;
}

#tableC {
    margin-left: 312px;
    margin-top: 228px;
    position: absolute;
}

#tableD {
    margin-left: 540px;
    margin-top: 231px;
    position: absolute;
}

#tableE {
    margin-left: 314px;
    margin-top: 58px;
    position: absolute;
}

#tableF {
    margin-left: 540px;
    margin-top: 57px;
    position: absolute;
}

#tableG {
    margin-left: 117px;
    margin-top: 107px;
    position: absolute;
}

.desk .seats{ /* positioning the contents of the table into the center to the move them out */
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.desk button{
    display: block;
}

/* below we are positioning all the seats into their correct places. */

#seat1 {
    transform: rotate(90deg) translate(57px) rotate(-90deg);
    /* first rotate positions item in correct place on circle, translate identifies how far out from the center of the circle and final rotate places item correct way round */
}

#seat2 {
    transform: rotate(150deg) translate(60px) rotate(90deg);
}

#seat3 {
    transform: rotate(205deg) translate(60px) rotate(94deg);
}

#seat4 {
    transform: rotate(270deg) translate(57px) rotate(90deg);
}

#seat5 {
    transform: rotate(335deg) translate(60px) rotate(86deg);
}

#seat6 {
    transform: rotate(30deg) translate(60px) rotate(90deg);
}

#tabVert1 {
    transform: rotate(120deg) translate(58px) rotate(-85deg);
    /* first rotate positions item in correct place on circle, translate identifies how far out from the center of the circle and final rotate places item correct way round */
}

#tabVert2 {
    transform: rotate(180deg) translate(57px) rotate(90deg);
}

#tabVert3 {
    transform: rotate(242deg) translate(58px) rotate(88deg);
}

#tabVert4 {
    transform: rotate(300deg) translate(58px) rotate(95deg);
}

#tabVert5 {
    transform: rotate(0deg) translate(57px) rotate(90deg);
}

#tabVert6 {
    transform: rotate(58deg) translate(58px) rotate(85deg);
}

#studentTab {
    width: 85%;
    text-align:center;
    position:relative;
}

#tabButton {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 5px;
}

@media (max-width: 1200px) {
    #tabButton {
        width: 100px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    #studentTab {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .layout {
        width: 100%;
    }

    #tableA {
        margin-left: 259px;
        margin-top: 404px;
        position: absolute;
    }
    
    #tableB {
        margin-left: 487px;
        margin-top: 403px;
        position: absolute;
    }
    
    #tableC {
        margin-left: 259px;
        margin-top: 220px;
        position: absolute;
    }
    
    #tableD {
        margin-left: 487px;
        margin-top: 223px;
        position: absolute;
    }
    
    #tableE {
        margin-left: 261px;
        margin-top: 48px;
        position: absolute;
    }
    
    #tableF {
        margin-left: 487px;
        margin-top: 50px;
        position: absolute;
    }
    
    #tableG {
        margin-left: 62.5px;
        margin-top: 97px;
        position: absolute;
    }
}

.missing {
    color: red;
    font-weight: bold;
}

.tabWide {
    max-width: 100%;
    height: auto;
    display: block;
}