.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.center {
    width: 50%;
    height: 85%;
    min-width: 250px; /* May need to adjust this depending on final outcome of seating system layout */
    left:50%;
    transform: translate(-50%);
    position:relative;
    border: 1px solid;
}

.desk { /* creating the table - in this case it is circular */
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 1px;
    border-radius: 50%;
}

#tableA {
    margin-left: 40%;
    margin-top: 55%;
    position: absolute;
}

#tableB {
    margin-left: 75%;
    margin-top: -15%;
    position: absolute;
}

#tableC {
    margin-left: 40%;
    margin-top: -40%;
    position: absolute;
}

#tableD {
    margin-left: 75%;
    margin-top: -15%;
    position: absolute;
}

#tableE {
    margin-left: 40%;
    margin-top: -40%;
    position: absolute;
}

#tableF {
    margin-left: 75%;
    margin-top: -15%;
    position: absolute;
}

#tableG {
    margin-left: 15%;
    margin-top: -5%;
    position: absolute;
}

.desk .seats{ /* positioning the contents of the table into the center to the move them out */
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.desk button{
    display: block;
}

/* below we are positioning all the seats into their correct places. */

#seat1 {
    transform: rotate(90deg) translate(55px) rotate(-90deg);
    /* first rotate positions item in correct place on circle, translate identifies how far out from the center of the circle and final rotate places item correct way round */
}

#seat2 {
    transform: rotate(150deg) translate(55px) rotate(90deg);
}

#seat3 {
    transform: rotate(205deg) translate(55px) rotate(90deg);
}

#seat4 {
    transform: rotate(270deg) translate(55px) rotate(90deg);
}

#seat5 {
    transform: rotate(335deg) translate(55px) rotate(90deg);
}

#seat6 {
    transform: rotate(30deg) translate(55px) rotate(90deg);
}

#studentTab {
    width: 85%;
    text-align:center;
    position:relative;
}

#tabButton {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 5px;
}

@media (max-width: 1200px) {
    #tabButton {
        width: 100px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    #studentTab {
        width: 100%;
    }
}

.missing {
    color: red;
    font-weight: bold;
}

.tabWide {
    max-width: 100%;
    height: auto;
    display: block;
}