/* Removing padding properties from the page */
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* Specifying the properities of the div which will contain the room layout - things such as the seat planning, seats, etc. will go into the div which has this styling */
.layout {
    width: 725px;
    height: 650px;
    left: 50%;
    transform: translate(-50%);
    position:  relative;
    border: 1px solid;
    display: block;
    overflow-x: auto;
    background-image: url('../roomlayout.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
}

/* Creating the foundations of the table */
.desk {
    position: absolute;
    width: 100px;
    height: 100px;
}

/* Specifying the location of each table */
#tableA {
    margin-left: 312px;
    margin-top: 412px;
    position: absolute;
}

#tableB {
    margin-left: 540px;
    margin-top: 410px;
    position: absolute;
}

#tableC {
    margin-left: 312px;
    margin-top: 228px;
    position: absolute;
}

#tableD {
    margin-left: 540px;
    margin-top: 231px;
    position: absolute;
}

#tableE {
    margin-left: 314px;
    margin-top: 58px;
    position: absolute;
}

#tableF {
    margin-left: 540px;
    margin-top: 57px;
    position: absolute;
}

#tableG {
    margin-left: 117px;
    margin-top: 107px;
    position: absolute;
}

#sideTab {
    margin-left: 465px;
    margin-top: 545px;
    position: absolute;
}

/* positioning the contents of the table (i.e. the div) into the center (i.e. put all the content inside the div into the middle) to then be able to position each seat correctly around the table  */
.desk .seats{ 
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.desk button{
    display: block;
}

/* Below is how all the seats are positioned in to the correct places on the layout of the room */
#seat1 {
    transform: rotate(90deg) translate(57px) rotate(-90deg);
    /* The first rotate positions the seat in correct place on the circle; Translate identifies how far out from the center of the circle the seat is to be positioned; The final rotate, rotates the direction the seat is facing */
}

#seat2 {
    transform: rotate(150deg) translate(60px) rotate(90deg);
}

#seat3 {
    transform: rotate(205deg) translate(60px) rotate(94deg);
}

#seat4 {
    transform: rotate(270deg) translate(57px) rotate(90deg);
}

#seat5 {
    transform: rotate(335deg) translate(60px) rotate(86deg);
}

#seat6 {
    transform: rotate(30deg) translate(60px) rotate(90deg);
}

/* Doing the same as before but changing positioning of the seats specific for the diffrent facing tables */
#tabVert1 {
    transform: rotate(120deg) translate(58px) rotate(-85deg);
}

#tabVert2 {
    transform: rotate(180deg) translate(57px) rotate(90deg);
}

#tabVert3 {
    transform: rotate(242deg) translate(58px) rotate(88deg);
}

#tabVert4 {
    transform: rotate(300deg) translate(58px) rotate(95deg);
}

#tabVert5 {
    transform: rotate(0deg) translate(57px) rotate(90deg);
}

#tabVert6 {
    transform: rotate(58deg) translate(58px) rotate(85deg);
}

#side1 {
    transform: rotate(346.5deg) translate(-130px) rotate(-346.5deg);
}

#side2 {
    transform: rotate(63deg) translate(34px) rotate(-63deg);
}

#side3 {
    transform: rotate(11.5deg) translate(152px) rotate(-11.5deg);
}

/* Specifying the width and other properties of the table */
#studentTab {
    width: 85%;
    text-align: center;
    position: relative;
}

/* Specifying the properties of the buttons located in the table */
#tabButton {
    width: 100px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 5px;
}

/* Specifying different attributes to the styling of certain items when the page width is of a smaller size */
@media (max-width: 1200px) {
    #tabButton {
        width: 100px;
        margin-bottom: 5px;
    }

    #studentTab {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .layout {
        width: 100%;
    }

    #tableA {
        margin-left: 301px;
        margin-top: 412px;
        position: absolute;
    }
    
    #tableB {
        margin-left: 527px;
        margin-top: 412px;
        position: absolute;
    }
    
    #tableC {
        margin-left: 301px;
        margin-top: 228px;
        position: absolute;
    }
    
    #tableD {
        margin-left: 527px;
        margin-top: 232px;
        position: absolute;
    }
    
    #tableE {
        margin-left: 302px;
        margin-top: 58px;
        position: absolute;
    }
    
    #tableF {
        margin-left: 527px;
        margin-top: 58px;
        position: absolute;
    }
    
    #tableG {
        margin-left: 104px;
        margin-top: 108px;
        position: absolute;
    }
}

@media (max-width: 400px) {
    .layout {
        width: 100%;
    }

    #tableA {
        margin-left: 287px;
        margin-top: 412px;
        position: absolute;
    }
    
    #tableB {
        margin-left: 515px;
        margin-top: 412px;
        position: absolute;
    }
    
    #tableC {
        margin-left: 287px;
        margin-top: 228px;
        position: absolute;
    }
    
    #tableD {
        margin-left: 515px;
        margin-top: 232px;
        position: absolute;
    }
    
    #tableE {
        margin-left: 288px;
        margin-top: 58px;
        position: absolute;
    }
    
    #tableF {
        margin-left: 515px;
        margin-top: 58px;
        position: absolute;
    }
    
    #tableG {
        margin-left: 92px;
        margin-top: 108px;
        position: absolute;
    }

    #sideTab {
        margin-left: 440px;
        margin-top: 545px;
        position: absolute;
    }
}

.missing {
    color: red;
    font-weight: bold;
}

.tabWide {
    max-width: 100%;
    height: auto;
    display: block;
}